<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
</head>
<style>
  .btn {
    margin-right: 10px;
    border: 0px;
    color: white;
    background-color: rgb(99, 99, 242);
  }
</style>

<body>
  <script src="./vue3.global.js"></script>
  <div id="root">
    <li v-for="item in list" :key="item.key">
      <!-- <li v-for="item in list"> -->
      {{item.val}}{{item.key}}
    </li>
    <button v-on:click='onAdd' class="btn">Add</button>
    <button v-on:click='onChangeVal(0)' class="btn">Change</button>
  </div>
  <script>
    const { ref, reactive, nextTick } = Vue
    /*
   有a,b,c,d一个数组，我们对它进行v-for遍历渲染，然后我们在b后面插入一个新的值f。
   数组变为a,b,f,c,d；通过ul列表进行渲染，分析有key和无key的情况。 
    */

    Vue.createApp({
      data() {
        return {
          // msg: '改变我',
          // showDiv: false,
          list: [
            {
              key: 1,
              val: 'li a',
              isshow: true
            },
            // {
            //   key: 2,
            //   val: 'li b',
            //   isshow: false
            // },
            // {
            //   key: 3,
            //   val: 'li c',
            //   isshow: false
            // },

            // {
            //   key: 4,
            //   val: 'li d',
            //   isshow: true
            // },
          ]
        }
      },
      methods: {
        onAdd() {
          console.log('=点击了按钮:', this.list)
          this.list.push({
            key: 4,
            val: 'li d',
            isshow: true
          })
        },
        onChangeVal(index) {
          console.log('=点击了按钮:', index)
          this.list[index].val = 'li zzz'

          this.list.push({
            key: 4,
            val: 'li d',
            isshow: true
          })
        }
      },

      setup(props) {
        // return {
        //   info,
        //   refData
        // };
      },

    }).mount('#root')
  </script>
  </script>
</body>

</html>